@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  color: #fafafa;
  font-size: 3rem;
}

.app {
  min-height: 100vh;
  position: relative;
}

#no-tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #fafafa;
}

#no-tasks-text {
  text-align: center;
  font-size: 1.2rem;
}

#tasks-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* TASK CONTAINER */
.task-container {
  width: 30rem;
  min-height: 7rem;
  padding: 1.2rem;
  border-radius: 1rem;
  transition: all 0.2s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #eeebeb;
  color: #000;
  cursor: pointer;
  overflow: auto;
}

.task-container:hover {
  transform: scale(1.03);
}

.task-container.completed button {
  background-color: #fff;
  border-color: #fff;
}

.task-container.completed button:hover {
  background-color: #dddddd;
  border-color: #dddddd;
}

.task-header {
  position: relative;
}

.task-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.due-date {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.overdue {
  color: red;
}

.on-time {
  color: #66bb69;
}

.task-id {
  position: absolute;
  top: 0.3rem;
  color: #999;
  transition: all 0.3s ease-in-out;
}

.task-description {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.checkbox-status {
  display: none;
}

.completed {
  background-color: #66bb69;
  color: #fff;
}

.check {
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 0;
  transition: all 0.3s ease;
}

.check:hover {
  color: #448046;
}

.btn-container {
  display: flex;
  gap: 1rem;
  display: flex;
}

/* ADD TASK STYLES */
#add-task-btn {
  margin-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  color: #fff;
}
.form-container {
  width: 30rem;
  border-radius: 1.5rem;
  background-color: #eeebeb;
  padding: 2rem;
  margin-bottom: 2rem;
}

#add-button {
  cursor: pointer;
  transition: all 0.3s ease;
}

#add-button:hover {
  color: #efefef;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#outlined-basic {
  width: 15rem;
}

#outlined-multiline-static {
  width: 15rem;
}

.req-text {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
  color: #000;
}

.btn-container-add {
  display: flex;
  gap: 0.5rem;
}

.popup-content {
  border-radius: 1rem;
}
.modal {
  position: relative;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

/* DELETE TASK STYLES */

.btn-container-delete {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.6rem;
}

.delete-modal-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.delete-modal-text {
  font-size: 1.2rem;
}

.close {
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -1rem;
  top: -1.2rem;
  border: 0;
}

#theme-toggler-container {
  width: 6.5rem;
  height: 3.3em;
  border-radius: 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  align-items: center;
  position: absolute;
  top: 3.8rem;
  right: 5rem;
}

#theme-toggler {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0.2rem;
  border-radius: 5rem;
  background-color: #222831;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#theme-toggler.dark {
  transform: translate(3.3rem);
  background-color: white;
  color: #222831;
}

#theme-toggler-mobile {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 3rem;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #222831;
  border: 0;
  border-radius: 1rem;
  color: #fff;
  transition: all 0.3s ease;
}

#theme-toggler-mobile.dark {
  background-color: white;
  color: #222831;
}
