@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  margin: 3rem auto;
}

#tasks-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* height: 100vh; */
  align-items: center;
}

.task-container {
  border: 0.1rem solid black;
  width: 30rem;
  padding: 1.2rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.task-header {
  position: relative;
}

.task-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.task-id {
  position: absolute;
  top: 0.3rem;
  color: #999;
}

.task-description {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.checkbox-status {
  display: none;
}

.completed {
  background-color: green;
  color: #fff;
}

.check {
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 0;
}

.btn-container {
  display: none;
}

.task-container.selected .btn-container {
  display: block;
}

.modal {
  position: relative;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.delete-modal-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.delete-modal-text {
  font-size: 1.2rem;
}

.close {
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -1rem;
  top: -1.2rem;
  border: 0;
}
