@media only screen and (max-width: 800px) {
  #theme-toggler-container {
    display: none;
  }

  #theme-toggler-mobile {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  #theme-toggler-mobile {
    width: 3rem;
    height: 3rem;
    top: 1rem;
    right: 1rem;
  }

  #theme-toggler-mobile svg {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 200%;
  }

  .task-container {
    width: 80%;
  }

  .form-container {
    width: 100%;
  }
  .task-title,
  .task-description {
    text-align: center;
  }

  .delete-modal-title {
    font-size: 50%;
  }
  .delete-modal-text {
    font-size: 40%;
  }
}
